<site-side-bar *ngIf="isLoggedIn"></site-side-bar>
<site-header *ngIf="isLoggedIn"></site-header>

<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header" *ngIf="isLoggedIn">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <app-spinner *ngIf="loading$ | async"></app-spinner>
        <router-outlet></router-outlet>
    </div>
</div>