<div class="row">
    <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <grid-header (addClicked)="onAdd()" (editClicked)="onEdit()" (deleteClicked)="onDelete()"
            (copyClicked)="onCopy()" (importClicked)="onImport()" (exportTemplateClicked)="onExportTemplate()"
            (exportWithGridDataClicked)="onExportWithGridData()"
            (exportWithOriginalDataClicked)="onExportWithOriginalData()"
            [isItemSelected]="isItemSelected"></grid-header>
          </div>
            <add-edit-user #addEditUserComponent
                (userRegistrationChange)="handleUserRegistrationChange($event)" (cancel)="onCloseSidebar()"></add-edit-user>
            <app-deleteconfirm *ngIf="showDeleteConfirmModal" (confirm)="confirmDelete()"
                (cancel)="cancelDelete()" ></app-deleteconfirm>
                <app-copyconfirm *ngIf="showCopyConfirmModal" (confirm)="confirmCopy()"
                (cancel)="cancelCopy()" ></app-copyconfirm>
            <div class="card-body card-body-padding">
                <ngx-datatable class="bootstrap datatable-container bordered-datatable" [rows]="userInfirmation"
                    [columnMode]="'force'" [rowHeight]="50" [headerHeight]="50" [scrollbarV]="true">
                    <ngx-datatable-column [width]="5" [sortable]="false">
                        <ng-template ngx-datatable-header-template [width]="5">
                            <div class="checkbox-container">
                                <input type="checkbox" [checked]="isAllChecked()" (change)="toggleAll($event)" />
                            </div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template [width]="5">
                            <div class="checkbox-container">
                                <input type="checkbox" [(ngModel)]="row.isChecked"
                                    (change)="onRowCheckboxChange(row,$event)" />
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <!-- First Name Column -->
                    <ngx-datatable-column name="First Name" prop="firstName">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.firstName }}
                        </ng-template>
                    </ngx-datatable-column>
                
                    <!-- Last Name Column -->
                    <ngx-datatable-column name="Last Name" prop="lastName">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.lastName }}
                        </ng-template>
                    </ngx-datatable-column>
                
                    <!-- Full Name Column -->
                    <ngx-datatable-column name="Full Name" prop="fullName">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.fullName }}
                        </ng-template>
                    </ngx-datatable-column>
                
                    <!-- Email Column -->
                    <ngx-datatable-column name="Email" prop="email">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.email }}
                        </ng-template>
                    </ngx-datatable-column>
                
                    <!-- Phone Column -->
                    <ngx-datatable-column name="Phone" prop="phone">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.phone }}
                        </ng-template>
                    </ngx-datatable-column>
                
                    <!-- Customer ID Column -->
                    <ngx-datatable-column name="Customer ID" prop="customerId">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.customerId }}
                        </ng-template>
                    </ngx-datatable-column>
                
                    <!-- Provider ID Column -->
                    <ngx-datatable-column name="Provider ID" prop="providerId">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.providerId }}
                        </ng-template>
                    </ngx-datatable-column>
                
                    <!-- Role ID Column -->
                    <ngx-datatable-column name="Role ID" prop="roleId">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.roleId }}
                        </ng-template>
                    </ngx-datatable-column>
                
                    <!-- Last Password Changed On Column -->
                    <ngx-datatable-column name="Last Password Changed" prop="lastPasswordChangedOn">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.lastPasswordChangedOn | date }}
                        </ng-template>
                    </ngx-datatable-column>
                
                    <!-- Is Blocked Column -->
                    <ngx-datatable-column name="Blocked" prop="isBlocked">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.isBlocked ? 'Yes' : 'No' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="CreatedOn" prop="createdOn">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.createdOn | date }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="ModifiedOn" prop="modifiedOn">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.modifiedOn | date}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Active" prop="isActive">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.isActive ? 'Yes' : 'No' }}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>


            </div>
        </div>

    </div>

</div>