<form id="AddEditVehicleClassForm" (ngSubmit)="onSubmit()">
    <div class="sidebar" id="sidebar" [ngClass]="{'show': isSidebarVisible}">
        <div class="modal-header">
            <h5 class="modal-title">Add/Edit Vehicle size</h5>
            <button type="button" class="close" (click)="closeSidebar()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" required [(ngModel)]="vehicleClass.name" name="name">
                </div>
            </div>
            <div class="form-group">
                <label for="code">Code</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-qrcode"></i></span>
                    </div>
                    <input type="text" class="form-control" id="code" placeholder="Enter code" required [(ngModel)]="vehicleClass.code" name="code">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="btnsubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>