<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
      <div class="navbar-content scroll-div">
        <div class="user-profile-section">
          <div class="main-menu-header">
            <img
              class="img-radius"
              src="assets/images/user/avatar-2.jpg"
              alt="User-Profile-Image"
            />
            <div class="user-details">
              <span>{{ userName }}</span>
              <div id="more-details">
                {{ userRole }}<i class="fa fa-chevron-down m-l-5"></i>
              </div>
            </div>
          </div>
          <div *ngIf="isUserMenuVisible" class="collapse" id="nav-user-link">
            <ul class="list-unstyled">
              <li class="list-group-item">
                <a routerLink="/profile"><i class="feather icon-user m-r-5"></i>View Profile</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/settings"><i class="feather icon-settings m-r-5"></i>Settings</a>
              </li>
              <li class="list-group-item">
                <a (click)="logout()"><i class="feather icon-log-out m-r-5"></i>Logout</a>
              </li>
            </ul>
          </div>
        </div>
  
        <ul class="nav pcoded-inner-navbar">
          <!-- Add Navigation Items -->
          <li class="nav-item pcoded-menu-caption">
            <label>Navigation</label>
          </li>
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-home"></i></span>
              <span class="pcoded-mtext">Dashboard</span>
            </a>
          </li>
          <li class="nav-item pcoded-hasmenu">
            <a href="#" class="nav-link" (click)="toggleSubmenu('layouts')">
              <span class="pcoded-micon"><i class="feather icon-layout"></i></span>
              <span class="pcoded-mtext">Page layouts</span>
            </a>
            <ul *ngIf="isSubmenuVisible['layouts']" class="pcoded-submenu">
              <li><a routerLink="/layouts/vertical">Vertical</a></li>
              <li><a routerLink="/layouts/horizontal">Horizontal</a></li>
            </ul>
          </li>
          <!-- Add other menu items similarly -->
        </ul>
  
        
      
      </div>
    </div>
  </nav>
  