/* Flashing effect for red */
.red-flash {
    color: red;
    font-size: 25px;
    text-align: center;
    animation: flash 1s infinite;
  }
  
  /* Flashing effect for orange */
  .orange-flash {
    color: orange;
    font-size: 25px;
    text-align: center;
    animation: flash 1s infinite;
  }
  
  /* Flashing effect for blue */
  .blue-flash {
    color: blue;
    font-size: 25px;
    text-align: center;
    animation: flash 1s infinite;
  }
  
  /* Animation */
  @keyframes flash {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  