<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <grid-header (addClicked)="onAdd()" (editClicked)="onEdit()" (deleteClicked)="onDelete()"
                    (copyClicked)="onCopy()" (importClicked)="onImport()" (exportTemplateClicked)="onExportTemplate()"
                    (exportWithGridDataClicked)="onExportWithGridData()"
                    (exportWithOriginalDataClicked)="onExportWithOriginalData()"
                    [isItemSelected]="isItemSelected"></grid-header>
            </div>
            <add-edit-serviceprovider #addEditServiceProviderComponent
                (serviceProviderChange)="handleServiceProviderChange($event)"
                (cancel)="onCloseSidebar()"></add-edit-serviceprovider>
            <app-deleteconfirm *ngIf="showDeleteConfirmModal" (confirm)="confirmDelete()"
                (cancel)="cancelDelete()"></app-deleteconfirm>
            <app-copyconfirm *ngIf="showCopyConfirmModal" (confirm)="confirmCopy()"
                (cancel)="cancelCopy()"></app-copyconfirm>
            <div class="card-body card-body-padding">
                <ngx-datatable class="bootstrap datatable-container bordered-datatable" [rows]="serviceProviders"
                    [columnMode]="'force'" [rowHeight]="50" [headerHeight]="50" [scrollbarV]="true">
                    <ngx-datatable-column [width]="100"  [sortable]="false">
                        <ng-template ngx-datatable-header-template>
                            <div class="checkbox-container">
                                <input type="checkbox" [checked]="isAllChecked()" (change)="toggleAll($event)" />
                            </div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="checkbox-container">
                                <input type="checkbox" [(ngModel)]="row.isChecked"
                                    (change)="onRowCheckboxChange(row,$event)" />
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Name" prop="name">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.name }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Contact Number" prop="contactNumber">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.contactNumber }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Email" prop="email">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.email }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Service Area" prop="serviceArea">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.serviceArea }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Availability Status" prop="availabilityStatus">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.availabilityStatus }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Rating" prop="rating">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.rating }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="longitude" prop="longitude">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.longitude }}/{{ row.latitude }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="CreatedOn" prop="createdOn">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.createdOn | date }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="ModifiedOn" prop="modifiedOn">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.modifiedOn | date}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Active" prop="isActive">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.isActive ? 'Yes' : 'No' }}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>


            </div>
        </div>

    </div>

</div>