<form id="AddEditCustomerForm" (ngSubmit)="onSubmit()">
    <div class="sidebar" id="sidebar" [ngClass]="{'show': isSidebarVisible}">
        <div class="modal-header">
            <h5 class="modal-title">Add/Edit Customers</h5>
            <button type="button" class="close" (click)="closeSidebar()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="insurancePolicyID">Insurance Policy ID</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-file-medical"></i></span>
                    </div>
                    <select class="form-control" id="insurancePolicyID" [(ngModel)]="customer.insurancePolicyID" name="insurancePolicyID">
                        <option value="" disabled selected>Select insurance policy</option>
                        <option *ngFor="let policy of insurancePolicies" [value]="policy.insurancePolicyId">{{ policy.customerName }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" required [(ngModel)]="customer.name" name="name">
                </div>
            </div>
            <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                    </div>
                    <input type="text" class="form-control" id="contactNumber" placeholder="Enter contact number" required [(ngModel)]="customer.contactNumber" name="contactNumber">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" required [(ngModel)]="customer.email" name="email">
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                    </div>
                    <textarea class="form-control" id="address" placeholder="Enter address" required [(ngModel)]="customer.address" name="address"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="btnsubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>