<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header card-header-padding">
                <div class="float-left">
                    <span id="addBtn" class="padding-rigt custom-cursor">
                        <i class="fa fa-plus-circle" title="add"></i>
                    </span>
                    <span id="editBtn" class="padding-rigt custom-cursor">
                        <i class="fa fa-pencil" title="edit"></i>
                    </span>
                    <span id="deleteBtn" class="padding-rigt custom-cursor"><i class="fa fa-trash"
                            title="delete"></i></span>
                    <span id="copyBtn" class="padding-rigt custom-cursor"><i class="fa fa-plus-square-o "
                            title="copy"></i></span>
                    <span id="permissionBtn" class="custom-cursor permission-hidden"><i class="fa fa-key"
                            title="manage permissions"></i></span>
                    <span id="campaignBtn" class="custom-cursor permission-hidden"><i class="fa fa-key"
                            title="manage campaign"></i></span>
                    <span id="dealerBtn" class="custom-cursor permission-hidden"><i class="fa fa-key"
                            title="manage dealer"></i></span>
                </div>
                <div class="float-right">

                    <span id="importBtn" class="custom-cursor padding-right">
                        <i class="fa fa-upload" title="import"></i>
                    </span>
                    <span id="exportBtn" class=" custom-cursor" data-toggle="dropdown">
                        <i class="fa fa-download" title="export"></i>
                    </span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#" id="exportTemplate">Export Template</a>
                        <a class="dropdown-item" href="#" id="exportWithGridData">Export with Grid Data</a>
                        <a class="dropdown-item" href="#" id="exportWithOriginalData">Export with Original Data</a>
                    </div>
                </div>
            </div>
            <div class="card-body card-body-padding">
                <ngx-datatable class="bootstrap datatable-container" 
                    [rows]="rows"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [scrollbarV]="true">

                    <ngx-datatable-column name="Name" prop="Name">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.Name }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Code" prop="Code">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.Code }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="CreatedBy" prop="CreatedBy">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.CreatedBy }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="CreatedOn" prop="CreatedOn">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.CreatedOn }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="ModifiedBy" prop="ModifiedBy">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.ModifiedBy }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="ModifiedOn" prop="ModifiedOn">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.ModifiedOn }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="IsActive" prop="IsActive">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.IsActive }}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>

    </div>

</div>